@tailwind base;

@layer base {
  *::selection {
    background-color: rgba(25, 72, 95, 0.25);
  }

  html {
    font-size: 1rem;
    color: var(--color-dark);
  }

  main {
    display: contents;
  }

  li {
    list-style: none;
  }
}
